@tailwind base;
@tailwind components;
@tailwind utilities;

/* default style per elemen */
/* @layer base {
} */

/* untuk bikin utility class baru */
/* @layer utilities {
} */

/* untuk bikin component class */
@layer components {
  .testimonial-content {
    display: grid;
    max-width: 100%;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "image header"
      "image name"
      "image title"
      "image reaction"
      "image rating"
      "image button"
      "image pagination";
  }
  .navbar-nav-detail {
    @apply right-[-150%];
  }
  .navbar-nav-detail.active {
    @apply right-0;
  }
  .feather {
    @apply text-center w-5 h-5 text-white  hover:text-primary active:text-darkprimary focus:text-primary;
  }
  .modal-bg {
    @apply hidden;
  }
  .modal-bg.show {
    @apply flex;
  }
  .dropdown-content {
    @apply hidden;
  }
  .dropdown-content.show {
    @apply block;
  }
}
