:root {
  --primary: #ff8906;
  --secondary: #8e6447;
  --bg-color: #202020;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  /* outline: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  /* overflow-x: hidden; */
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 7%;
  background-color: #0b0909;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 2rem;
}

.navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar-nav a:hover::after {
  transform: scaleX(1);
}

.navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar-extra a:hover {
  color: var(--primary);
}

.navbar-btn {
  margin: 0 1rem;
}

.btn-signin {
  background-color: #0b0909;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  width: 6em;
  height: 3em;
  margin-right: 2rem;
}

.btn-signin:hover {
  background-color: #353030;
  cursor: pointer;
}

.btn-signup {
  background-color: var(--primary);
  border-radius: 5px;
  color: #0b132a;
  font-size: 18px;
  width: 6em;
  height: 3em;
}

.btn-signup:hover {
  background-color: #e77d04;
  cursor: pointer;
}

/* Hero Section */
.hero {
  min-height: 120vh;
  display: flex;
  align-items: center;
  background-image: url("/assets/images/background-home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content p {
  font-size: 1.6rem;
  color: #fff;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}

.started {
  margin-top: 1em;
  padding: 0.8em 2em;
  font-size: 1.4rem;
  color: #0b132a;
  background-color: var(--primary);
  border-radius: 0.5em;
}

.started:hover {
  background-color: #e77d04;
  cursor: pointer;
}

.plus {
  display: flex;
  margin-top: 2em;
}

.staff {
  padding-right: 4em;
}

.stores,
.customer {
  padding-left: 2em;
  padding-right: 4em;
}

.stores {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.plus .staff .staff-number,
.plus .stores .stores-number,
.plus .customer .customer-number {
  font-size: 2.5em;
  font-weight: 500;
  color: var(--primary);
}

.plus .staff .staff-text,
.plus .stores .stores-text,
.plus .customer .customer-text {
  font-size: 1em;
}

.about {
  display: flex;
}

.about .content {
  flex: 1 1 35rem;
  padding: 5rem;
}

.content-header {
  display: flex;
  align-items: center;
}

.content-header .vertical-line {
  width: 8px;
  height: 50px;
  background-color: var(--primary);
  margin-right: 20px;
}

.content-header h1,
.menu-header h1,
.visit-header h1 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 0.5em;
}

span {
  color: var(--secondary);
  margin: 0 10px;
}

.about .content p {
  color: #4f5665;
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.6;
}

.content-group {
  display: flex;
}

.content-group p {
  margin-left: 10px;
}

.content-group img {
  width: 3.5%;
  height: 3.5%;
}

.about-img {
  flex: 1 1 33.6rem;
}

.about-img img {
  width: 100%;
  height: 100%;
}

.menu {
  margin-top: 5em;
}
.menu-header h1,
.menu-header p,
.row,
.visit-header h1,
.visit-header p {
  justify-content: center;
  align-items: center;
  display: flex;
}

.horizontal-line {
  width: 50px;
  height: 5px;
  background-color: var(--primary);
  margin: 0 49% 1.5em;
}

.menu-header p,
.visit-header p {
  font-weight: 400;
  color: #4f5665;
}

.menu-header p {
  margin-bottom: 3em;
}

.row {
  width: 100%;
  padding: 0 5em;
}

.menu-card {
  text-align: center;
  margin-right: 3%;
  margin-bottom: 4rem;
  width: 20%;
}

.menu-card img {
  justify-content: center;
  width: 70%;
}

.menu-details h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #0b132a;
  margin-bottom: 10px;
}

.menu-details p {
  font-size: 1rem;
  font-weight: 500;
  color: #0b132a;
  margin-bottom: 10px;
}

.menu-details .price {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary);
  margin-bottom: 10px;
}

.menu-btn {
  justify-content: center;
  height: 2.5em;
  display: flex;
}

.btn-buy {
  background-color: var(--primary);
  border-radius: 5px;
  color: #0b132a;
  margin-right: 0.5em;
  font-size: 18px;
  width: 13.3em;
}

.btn-buy:hover {
  background-color: #e77d04;
  cursor: pointer;
}

.btn-cart {
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 5px;
  width: 5em;
  background-color: transparent;
}

.btn-cart:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}

.visit img {
  width: 60%;
  height: 60%;
  margin: 0 20% 1.5em;
}

.visit-header p {
  margin-bottom: 2em;
}

.testimonial {
  background-color: var(--bg-color);
  display: flex;
  padding: 12em;
}

.testimonial-img {
  margin-right: 20px;
}

.testimonial-img img {
  width: 100%;
  height: 100%;
}

.testimonial-content h3 {
  color: #fff;
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 20px;
}

.testimonial-name {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.testimonial-name h1 {
  color: #fff;
  font-weight: 400;
  font-size: 3em;
}

.testimonial-name .vertical-line {
  width: 7px;
  height: 4em;
  background-color: var(--primary);
  margin-right: 15px;
}

.testimonial-content p {
  margin-bottom: 30px;
  color: #fff;
}

.testimonial-content .title {
  color: var(--primary);
  font-weight: 400;
}

.star-rating {
  display: flex;
  color: var(--primary);
  margin-bottom: 30px;
}

.star-rating .star {
  margin-right: 2em;
}

.btn-page {
  display: flex;
  margin-bottom: 1em;
}

.btn-page button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.btn-page button:hover {
  background-color: var(--primary);
  cursor: pointer;
}

.left-button {
  margin-right: 0.7em;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #dde0e4;
  border-radius: 50%;
  display: inline-block;
}

footer {
  display: flex;
  background-color: #f8f8f8;
  padding: 1rem 2rem 3rem;
  margin-top: 3rem;
}

footer div {
  margin-left: 8em;
}

footer .description {
  padding: 2em;
}

footer .description .desc {
  margin-bottom: 30px;
  color: #4f5665;
}

footer .description .copyright {
  font-size: 0.8rem;
  color: #afb5c0;
}

footer div .footer-logo {
  width: 10em;
  height: 2.5em;
  margin-bottom: 20px;
}

footer .product,
footer .engage,
footer .socials {
  padding: 1em;
}

footer .product h3,
footer .engage h3,
footer .socials h3 {
  margin-bottom: 1.5em;
}

footer .product a,
footer .engage a {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  color: #4f5665;
}

footer .product a:hover,
footer .engage a:hover {
  color: #b2b2b4;
}

footer .socials a {
  margin-right: 1em;
}

footer .socials a img {
  width: 2.5em;
  height: 2.5em;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
