:root {
  --primary: #ff8906;
  --secondary: #8e6447;
  --bg-color: #202020;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

span {
  color: var(--secondary);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 7%;
  background-color: #0b0909;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1em;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5em;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5em;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

.navbar .navbar-btn {
  margin: 0 0.5em;
}

.navbar .navbar-btn .btn-signin {
  background-color: #0b0909;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  width: 6em;
  height: 3em;
  margin-right: 2em;
}

.navbar .navbar-btn .btn-signin:hover {
  background-color: #353030;
  cursor: pointer;
}

.navbar .navbar-btn .btn-signup {
  background-color: var(--primary);
  border-radius: 5px;
  color: #0b132a;
  font-size: 1rem;
  width: 6em;
  height: 3em;
}

.navbar .navbar-btn .btn-signup:hover {
  background-color: #e77d04;
  cursor: pointer;
}

.navbar .navbar-hamburger a {
  color: #fff;
  margin: 0 0.5em;
}

.navbar .navbar-hamburger a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  display: flex;
  flex-direction: row-reverse;
}

.header-img,
.about-img {
  width: 50%;
}

.header-img img,
.about-img img {
  width: 100%;
  height: 100%;
}

.hero .header-content {
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: #0b0909;
  flex: 1 1;
  padding: 5em;
}

.hero .header-content h1 {
  margin-top: 20vh;
  font-size: 3em;
  font-weight: 500;
  color: #fff;
}

.hero .header-content p {
  font-size: 1.6rem;
  color: #fff;
  margin-top: 1em;
  line-height: 1.4;
  font-weight: 100;
}

.started {
  margin-top: 1em;
  padding: 0.8em 2em;
  font-size: 1.4rem;
  color: #0b132a;
  background-color: var(--primary);
  border-radius: 0.5em;
}

.started:hover {
  background-color: #e77d04;
  cursor: pointer;
}

.plus {
  display: flex;
  margin-top: 2em;
}

.plus .staff {
  margin-right: 4em;
}

.customer {
  padding-left: 2em;
}

.stores {
  padding-left: 2em;
  padding-right: 4em;
}

.stores {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.plus .staff .staff-number,
.plus .stores .stores-number,
.plus .customer .customer-number {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--primary);
}

.plus .staff .staff-text,
.plus .stores .stores-text,
.plus .customer .customer-text {
  font-size: 1.3em;
}

.about {
  display: flex;
  flex-direction: row-reverse;
}

.about .content {
  width: 50%;
  padding: 5em;
}

.content-header {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.content-header .vertical-line {
  width: 8px;
  height: 50px;
  border: 2px solid var(--primary);
  background-color: var(--primary);
  margin-right: 20px;
}

.menu-header h1,
.visit-header h1 {
  margin-bottom: 0.5em;
  font-size: 3rem;
  font-weight: 500;
}

.about .content p {
  color: #4f5665;
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.6;
}

.content-group {
  display: flex;
}

.content-group p {
  margin-left: 10px;
}

.menu {
  margin-top: 5em;
}
.menu-header h1,
.menu-header p,
.row,
.visit-header h1,
.visit-header p {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.horizontal-line {
  width: 50px;
  height: 5px;
  background-color: var(--primary);
}

.menu-header p,
.visit-header p {
  font-weight: 400;
  color: #4f5665;
}

.menu-header p,
.visit-header p {
  margin-bottom: 1.5em;
}

.product {
  margin-top: 2em;
  margin-bottom: 2em;
}

/* Product Menu */
.product-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.product-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1em;
}

.product-card .menu-card {
  width: 20%;
  padding: 1em;
  background-color: #fff;
}

.product-card .menu-card .flash-sale {
  display: none;
  /* font-size: 0.8rem;
  position: absolute;
  text-align: center;
  padding: 0.5em;
  margin-top: 0.7em;
  margin-left: 0.5em;
  background-color: #d00000;
  color: #fff;
  border-radius: 50px; */
}

.product-card .menu-card img {
  width: 100%;
}

.product-card .menu-card h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #0b132a;
  margin-bottom: 10px;
}

.product-card .menu-card .description {
  font-size: 0.8rem;
  color: #4f5665;
  margin-bottom: 1em;
}

.product-card .menu-card .price {
  display: block;
  align-items: center;
  font-weight: 500;
  color: var(--primary);
  margin-bottom: 10px;
}

.product-card .menu-card .price .price-normal {
  display: none;
  /* color: #d00000;
  text-decoration: line-through;
  margin-right: 1em; */
}

.product-card .menu-card .price .price-discount {
  color: var(--primary);
  font-size: 1.2rem;
}

.product-card .menu-card .menu-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card .menu-card .menu-btn .btn-buy {
  background-color: var(--primary);
  border-radius: 5px;
  color: #0b132a;
  margin-right: 5%;
  font-size: 1rem;
  width: 65%;
  height: 2em;
}

.product-card .menu-card .menu-btn .btn-buy:hover {
  background-color: #e77d04;
  cursor: pointer;
}

.product-card .menu-card .menu-btn .btn-cart {
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 5px;
  width: 20%;
  background-color: transparent;
}

.product-card .menu-card .menu-btn .btn-cart:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}

.visit .visit-img {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.visit img {
  width: 80%;
  height: 80%;
}

.testimonial {
  background-color: var(--bg-color);
  display: flex;
  padding: 5em;
}

.testimonial-content {
  display: grid;
  max-width: 100%;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "image header"
    "image name"
    "image title"
    "image reaction"
    "image rating"
    "image button"
    "image pagination";
}

.testimonial-img {
  width: 100%;
}

.testimonial-img img {
  width: 100%;
}

.testimonial-content h2 {
  margin-left: 2em;
  color: #fff;
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 1.5em;
}

.testimonial-name {
  margin-left: 2em;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.testimonial-name h1 {
  color: #fff;
  font-weight: 400;
  font-size: 3em;
}

.testimonial-name .vertical-line {
  width: 7px;
  height: 4em;
  background-color: var(--primary);
  margin-right: 15px;
}

.testimonial-content p {
  margin-bottom: 30px;
  color: #fff;
}

.testimonial-content .title {
  margin-left: 1.6em;
  color: var(--primary);
  font-weight: 400;
  font-size: 1.2em;
}

.testimonial-content .react {
  margin-left: 2em;
  max-width: 30em;
}

.star-rating {
  display: flex;
  color: var(--primary);
  margin-bottom: 30px;
  margin-left: 2em;
}

.star-rating .star {
  margin-right: 2em;
}

.btn-page {
  margin-left: 2em;
  display: flex;
  margin-bottom: 1em;
}

.btn-page button {
  border-radius: 50%;
  width: 3em;
  height: 3em;
}

.btn-page button:hover {
  background-color: var(--primary);
  cursor: pointer;
}

.left-button {
  margin-right: 1em;
}

.pagination-dots {
  margin-left: 2em;
}

.dot {
  height: 7px;
  width: 7px;
  margin: 0 5px;
  background-color: #dde0e4;
  border-radius: 50%;
  display: inline-block;
}

/* Footer */
footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #f8f8f8;
  padding: 1em 2em 3em;
  margin-top: 3em;
}

footer div {
  margin-left: 5%;
}

footer .description-footer {
  padding: 2em;
}

footer .description-footer .desc {
  margin-bottom: 30px;
  color: #4f5665;
}

footer .description-footer .copyright {
  font-size: 0.8rem;
  color: #afb5c0;
}

footer div .footer-logo {
  width: 10em;
  height: 2.5em;
  margin-bottom: 20px;
}

footer .product-footer,
footer .engage-footer,
footer .socials-footer {
  padding: 1em;
}

footer .product-footer h2,
footer .engage-footer h2,
footer .socials-footer h2 {
  margin-bottom: 1.5em;
}

footer .product-footer a,
footer .engage-footer a {
  display: flex;
  margin-bottom: 15px;
  color: #4f5665;
}

footer .product-footer a:hover,
footer .engage-footer a:hover {
  color: #b2b2b4;
}

footer .socials-footer a {
  margin-right: 1em;
}

footer .socials-footer a img {
  border-radius: 50%;
}

footer .socials-footer a img:hover {
  background-color: #0b0909;
  cursor: pointer;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media screen and (max-width: 769px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30em;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-logo {
    width: 50%;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #010101;
    display: block;
    margin: 1.5em;
    padding: 0.5em;
    font-size: 1.5em;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .navbar-extra a {
    color: #fff;
    margin: 0 5em;
    font-size: 5%;
  }

  .navbar .navbar-extra a:hover {
    color: var(--primary);
  }

  .navbar .navbar-btn {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 350%;
    right: -100%;
    margin-right: 2.5em;
    width: 25em;
    transition: 0.3s;
  }

  .navbar .navbar-btn.active {
    right: 0;
  }

  .navbar .navbar-btn button {
    color: #010101;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .hero {
    display: block;
  }
  .header-img,
  .about-img {
    width: 100%;
  }

  .hero .header-content {
    width: 100%;
  }

  .hero .header-content h1 {
    margin-top: 0;
    max-width: 20em;
  }

  .hero .header-content p {
    max-width: 35em;
  }

  .about {
    display: block;
  }

  .about .content {
    width: 100%;
    padding: 2em;
  }

  .content-header {
    display: flex;
    align-items: center;
  }

  .content-header h1,
  .menu-header h1 {
    font-size: 2rem;
  }

  .visit-header h1 {
    font-size: 1.7rem;
  }

  .content-header h1 {
    max-width: 15em;
  }

  .product-card .menu-card {
    width: 50%;
  }

  .product-card .menu-card .menu-btn .btn-buy {
    margin-bottom: 0.5em;
    margin-right: 0;
    width: 100%;
  }

  .product-card .menu-card .menu-btn .btn-cart {
    width: 100%;
  }
  .product-card .menu-card .price .price-normal {
    display: block;
    margin-bottom: 1em;
    color: #d00000;
    text-decoration: line-through;
  }

  .testimonial-content {
    display: block;
  }

  .testimonial-content h2 {
    text-align: center;
    font-size: 1.3em;
  }

  .testimonial-content h2 {
    margin-bottom: 1em;
  }

  .testimonial-name {
    margin: 1em 0;
  }

  .testimonial-name h1 {
    font-size: 2em;
  }

  .testimonial-name .vertical-line {
    width: 3px;
    height: 3em;
  }

  .testimonial-content p,
  .star-rating {
    margin-bottom: 1em;
  }

  .testimonial-content .title,
  .testimonial-content .react,
  .star-rating,
  .btn-page {
    margin-left: 0;
  }

  .btn-page {
    margin-bottom: 5em;
  }

  .btn-page button {
    width: 2em;
    height: 2em;
  }

  .pagination-dots {
    margin-left: 0;
  }

  .dot {
    height: 5px;
    width: 5px;
  }
}

/* Mobile Phone */
@media screen and (max-width: 450px) {
  html {
    font-size: 55%;
  }

  footer .description-footer .desc {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  footer .product-footer {
    margin-right: 20%;
  }

  footer .product-footer,
  footer .engage-footer,
  footer .socials-footer {
    font-size: 1.2rem;
  }
}
