/* normalisasi style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-image: url("/assets/images/background-login.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 10px;
  margin-left: 400px;
  background-position: center;
}

.container {
  background-color: transparent;
}

.header {
  color: #8e6447;
  margin-top: 30px;
  font-weight: 600;
  font-size: 25px;
}

.subheader {
  color: #4f5665;
  font-weight: 400;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

form > label {
  color: #0b132a;
  font-weight: 600;
  font-size: 20px;
}

form > div {
  position: relative;
  margin-top: 15px;
}

form > div > input {
  width: 60em;
  height: 50px;
  outline: 0;
  border: 2px solid;
  border-radius: 10px;
  padding-top: 2px;
  padding-left: 60px;
  background: transparent;
  font-size: 15px;
  color: #4f5665;
}

#email {
  margin-bottom: 30px;
}

.icon {
  position: absolute;
  margin-top: 10px;
  margin-left: 15px;
  width: 33px;
  height: 33px;
}

.forgotpassword {
  text-align: right;
  font-size: 15px;
  margin-bottom: 20px;
}

.btn-login {
  color: #0b132a;
  font-weight: 500;
  font-size: 15px;
  background-color: #ff8906;
  border-radius: 10px;
  border: none;
  width: 60em;
  height: 45px;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #e77d04;
  cursor: pointer;
}

.register {
  color: #4f5665;
  font-weight: 400;
  font-size: 18px;
  margin-left: 325px;
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #ff8906;
}

a:hover {
  color: #e98513;
  text-decoration: underline;
}

.or {
  font-weight: 400;
  font-size: 13px;
  margin-left: 442px;
  color: #aaaaaa;
}

.btn-facebook {
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 440px;
  height: 70px;
}

.btn-facebook:hover {
  background-color: #e9e9e9;
  cursor: pointer;
}

.facebook-text {
  margin-left: 20px;
  font-weight: 400;
  font-size: 20px;
  color: #4f5665;
}

.facebook-icon {
  width: 20px;
  height: 20px;
}

.btn-google {
  margin-top: 30px;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 440px;
  height: 70px;
}

.btn-google:hover {
  background-color: #e9e9e9;
  cursor: pointer;
}

.google-text {
  margin-left: 20px;
  font-weight: 400;
  font-size: 20px;
  color: #4f5665;
}

.google-icon {
  width: 20px;
  height: 20px;
}
