/* normalisasi style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-image: url("/assets/images/background-login.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  background-color: #ffffff;
  width: 60%;
  margin-top: 5em;
  margin-left: 35%;
}

.header h2 {
  color: #8e6447;
  margin-top: 30px;
  font-weight: 600;
  font-size: 1.6rem;
}

.header p {
  color: #4f5665;
  font-weight: 400;
  font-size: 1.3rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

.header img {
  width: 20%;
}

form label {
  color: #0b132a;
  font-weight: 600;
  font-size: 1.3rem;
}

form div {
  position: relative;
  margin-top: 15px;
}

form div input {
  width: 100%;
  height: 50px;
  outline: 0;
  border: 1px solid #dedede;
  border-radius: 10px;
  padding-top: 2px;
  padding-left: 60px;
  background: transparent;
  font-size: 1rem;
  color: #4f5665;
  margin-bottom: 30px;
}

form div img {
  position: absolute;
  margin-top: 16px;
  margin-left: 20px;
}

form .forgotpassword {
  text-align: right;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.btn-login {
  color: #0b132a;
  font-weight: 500;
  font-size: 1.3rem;
  background-color: #ff8906;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 45px;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #e77d04;
  cursor: pointer;
}

.register {
  text-align: center;
  color: #4f5665;
  font-weight: 400;
  font-size: 1.15rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #ff8906;
}

a:hover {
  color: #e98513;
  text-decoration: underline;
}

.sign-up-option p {
  text-align: center;
  font-weight: 400;
  font-size: 0.9rem;
  color: #aaaaaa;
}

.sign-up-option-btn {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.btn-facebook {
  font-weight: 400;
  font-size: 1.3rem;
  color: #4f5665;
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  width: 40%;
  height: 3em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-facebook:hover {
  background-color: #e9e9e9;
  cursor: pointer;
}

.facebook-icon {
  width: 22px;
  height: 22px;
}

.facebook-text {
  margin-left: 2em;
}

.btn-facebook-details {
  display: flex;
  justify-content: center;
}

.btn-google {
  font-weight: 400;
  font-size: 1.3rem;
  color: #4f5665;
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  width: 40%;
  height: 3em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-google:hover {
  background-color: #e9e9e9;
  cursor: pointer;
}

.google-icon {
  width: 22px;
  height: 22px;
}

.google-text {
  margin-left: 2em;
}

.btn-google-details {
  display: flex;
  justify-content: center;
}

/* Media Queries */

/* Laptop */
@media screen and (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media screen and (max-width: 769px) {
  html {
    font-size: 68%;
  }
  body {
    background-image: none;
  }
  .container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .header h2 {
    margin-top: 1em;
  }

  .header img {
    width: 35%;
  }

  .header p {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  form div input {
    font-size: 1.2rem;
  }

  form div img {
    margin-top: 15px;
    margin-left: 15px;
    width: 20px;
    height: 20px;
  }

  .register-form form button {
    font-weight: 600;
    font-size: 1.5rem;
  }

  .register-form form p {
    font-size: 1.4rem;
  }

  .sign-up-option-btn {
    justify-content: space-around;
  }

  .btn-facebook {
    border-radius: 0;
    width: 5em;
    height: 5em;
  }

  .facebook-text {
    display: none;
  }

  .btn-google {
    border-radius: 0;
    width: 5em;
    height: 5em;
  }
  .google-text {
    display: none;
  }
}

/* Mobile Phone */
@media screen and (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
