/* Normalisasi style */
:root {
  --primary: #ff8906;
  --secondary: #8e6447;
  --bg-color: #0b0909;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  /* outline: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

span {
  color: var(--secondary);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 7%;
  background-color: #0b0909;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1em;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5em;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5em;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

.navbar .navbar-btn {
  margin: 0 0.5em;
}

.navbar .navbar-btn .btn-signin {
  background-color: #0b0909;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  width: 6em;
  height: 3em;
  margin-right: 2em;
}

.navbar .navbar-btn .btn-signin:hover {
  background-color: #353030;
  cursor: pointer;
}

.navbar .navbar-btn .btn-signup {
  background-color: var(--primary);
  border-radius: 5px;
  color: #0b132a;
  font-size: 1rem;
  width: 6em;
  height: 3em;
}

.navbar .navbar-btn .btn-signup:hover {
  background-color: #e77d04;
  cursor: pointer;
}

.navbar .navbar-hamburger a {
  color: #fff;
  margin: 0 0.5em;
}

.navbar .navbar-hamburger a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Header */
header {
  min-height: 50vh;
  display: flex;
  align-items: center;
  background-image: url("/assets/images/background-product.webp");
  background-repeat: no-repeat;
  background-position: center;
}

header h1 {
  color: #fff;
  font-weight: 400;
  max-width: 60rem;
  font-size: 3rem;
  margin-left: 2em;
}

/* Promo */
.promo {
  display: block;
}

.promo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2em 0;
  padding: 0 5em;
}

.promo-header h1,
.product h1 {
  font-size: 2rem;
  font-weight: 500;
}

.promo-header .btn-promo {
  padding: 0 2em;
  justify-content: space-between;
  width: 20%;
  display: flex;
}

.promo-header .btn-promo button {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.promo-header .btn-promo button:hover {
  background-color: var(--primary);
  cursor: pointer;
}

.promo-body {
  display: flex;
}

.promo-body .promo-coupon-1,
.promo-body .promo-coupon-2,
.promo-body .promo-coupon-3 {
  width: 20%;
  display: flex;
  border-radius: 20px;
  padding: 0.5em 1em 0;
  background-color: #88b788;
  margin-right: 4em;
}

.promo-img {
  width: 30%;
}

.promo-img img,
.promo-img img {
  width: 80%;
}

.promo-body .promo-coupon-4 {
  width: 21%;
  display: flex;
  border-radius: 20px;
  padding: 0 1em;
  align-items: center;
  background-color: #f5c361;
}

.promo-body .promo-details {
  height: 50%;
}

.promo-body .promo-details h2 {
  max-width: 12rem;
  margin-bottom: 5px;
  font-size: 1rem;
}

.promo-body .promo-details .promo-description {
  max-width: 11rem;
  font-size: 1rem;
  margin-bottom: 5px;
}

.promo-body .promo-details .claim {
  color: #fff;
  max-width: 11rem;
  font-size: 1rem;
}

.pagination-dots {
  margin: 5px 5em 0;
}

.pagination-dots .dot {
  height: 5px;
  width: 5px;
  margin: 0 3px;
  background-color: #dde0e4;
  border-radius: 50%;
  display: inline-block;
}

/* Product */
.product {
  margin: 1.5em 5em 0;
}

.product-body {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}

/* Product Filter */
.product-filter {
  background-color: var(--bg-color);
  color: #fff;
  padding: 1.5em;
  border-radius: 20px;
  width: 30%;
  height: 50%;
}

.product-filter .product-filter-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

.product-filter .product-filter-header p {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}

.product-filter .product-filter-header a {
  font-size: 1.2rem;
  font-weight: 800;
  color: #fff;
}

.product-filter .product-search {
  margin-bottom: 30px;
}

.product-filter .product-search .search-name,
.product-filter .product-category h2,
.product-filter .product-sort h2,
.product-filter .product-range h2 {
  font-weight: 600;
  font-size: 1.2rem;
}

.product-filter .product-search form div {
  margin-top: 10px;
}

.product-filter .product-search form div input {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  padding-left: 15px;
}

.product-filter .product-category h2,
.product-filter .product-sort h2 {
  margin-bottom: 30px;
}

.product-filter .checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 1.2rem;
}

.product-filter .checkbox:hover {
  cursor: pointer;
}

.product-filter .checkbox input {
  margin-right: 10px;
}

.product-filter .checkbox input[type="checkbox"] {
  display: none;
}

.product-filter .checkbox .checkmark {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background: transparent;
  border: 1px solid;
  border-radius: 5px;
  display: inline-block;
  position: relative;
}

.product-filter .checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: var(--primary);
  cursor: pointer;
}

.product-filter .checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.product-filter .checkbox input[type="checkbox"]:checked + .checkmark:after {
  display: block;
}

.product-filter .checkbox .checkmark:after {
  left: 4px;
  top: 0.3px;
  width: 4px;
  height: 8px;
  border: solid #0b0909;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.product-filter .product-range h2 {
  margin-bottom: 20px;
}

.product-filter .product-range .range-slider {
  position: relative;
  height: 50px;
}

.product-filter .product-range .range-slider input[type="range"] {
  position: absolute;
  width: 100%;
  pointer-events: none;
  appearance: none;
  background: transparent;
  top: 10px;
}

.product-filter .product-range .range-slider input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  -webkit-appearance: none;
  cursor: pointer;
}

.product-filter .product-range .range-slider .range-track {
  position: absolute;
  height: 5px;
  width: 100%;
  transform: translateY(-50%);
  background: #fff;
  z-index: 1;
}

.product-filter .product-range .range-slider .range-progress {
  position: absolute;
  height: 5px;
  transform: translateY(-50%);
  background: var(--primary);
  z-index: 2;
}

.product-filter .product-range .range-slider .price-labels {
  position: absolute;
  width: 100%;
  top: 30px;
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
}

.product-filter .product-range .range-slider .price-labels span {
  color: #fff;
  text-align: center;
  position: absolute;
  transform: translateX(-82%);
}

.product-filter .btn-apply {
  background-color: var(--primary);
  margin-top: 2em;
  border-radius: 5px;
  color: #0b0909;
  font-size: 1.5rem;
  width: 100%;
  height: 3em;
}

.product-filter .btn-apply:hover {
  background-color: #e77d04;
  cursor: pointer;
}

/* Product Menu */
.product-menu {
  width: 70%;
}

.product-card {
  display: flex;
  margin-bottom: 1em;
}

.product-card .menu-card {
  width: 50%;
  padding: 1em;
  background-color: #fff;
}

.product-card .menu-card .flash-sale {
  font-size: 0.8rem;
  position: absolute;
  text-align: center;
  padding: 0.5em;
  margin-top: 0.7em;
  margin-left: 0.5em;
  background-color: #d00000;
  color: #fff;
  border-radius: 50px;
}

.product-card .menu-card img {
  width: 100%;
}

.product-card .menu-card h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #0b132a;
  margin-bottom: 10px;
}

.product-card .menu-card .description {
  font-size: 0.8rem;
  color: #4f5665;
}

.product-card .menu-card .star-rating {
  width: 100%;
  display: flex;
  color: var(--primary);
  align-items: center;
}

.product-card .menu-card .star-rating .rating-value {
  color: #4f5665;
  font-size: 0.8rem;
}

.product-card .menu-card .star-rating .star-rating .star {
  margin-right: 0.5em;
  margin-bottom: 5px;
}

.product-card .menu-card .price {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: var(--primary);
  margin-bottom: 10px;
}

.product-card .menu-card .price .price-normal {
  color: #d00000;
  text-decoration: line-through;
  margin-right: 1em;
}

.product-card .menu-card .price .price-discount {
  color: var(--primary);
  margin-right: 2em;
  font-size: 1.2rem;
}

.product-card .menu-card .menu-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card .menu-card .menu-btn .btn-buy {
  background-color: var(--primary);
  border-radius: 5px;
  color: #0b132a;
  margin-right: 5%;
  font-size: 1.5rem;
  width: 65%;
  height: 2em;
}

.product-card .menu-card .menu-btn .btn-buy:hover {
  background-color: #e77d04;
  cursor: pointer;
}

.product-card .menu-card .menu-btn .btn-cart {
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 5px;
  width: 20%;
  background-color: transparent;
}

.product-card .menu-card .menu-btn .btn-cart:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}

.product-menu .btn-page {
  width: 100%;
  margin-top: 1em;
  padding: 0 15em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product-menu .btn-page button {
  color: #a0a3bd;
  margin-right: 1em;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.product-menu .btn-page button:hover {
  color: #0b0909;
  background-color: var(--primary);
  cursor: pointer;
}

/* Footer */
footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #f8f8f8;
  padding: 1em 2em 3em;
  margin-top: 3em;
}

footer div {
  margin-left: 5%;
}

footer .description-footer {
  padding: 2em;
}

footer .description-footer .desc {
  margin-bottom: 30px;
  color: #4f5665;
}

footer .description-footer .copyright {
  font-size: 0.8rem;
  color: #afb5c0;
}

footer div .footer-logo {
  width: 10em;
  height: 2.5em;
  margin-bottom: 20px;
}

footer .product-footer,
footer .engage-footer,
footer .socials-footer {
  padding: 1em;
}

footer .product-footer h2,
footer .engage-footer h2,
footer .socials-footer h2 {
  margin-bottom: 1.5em;
}

footer .product-footer a,
footer .engage-footer a {
  display: flex;
  margin-bottom: 15px;
  color: #4f5665;
}

footer .product-footer a:hover,
footer .engage-footer a:hover {
  color: #b2b2b4;
}

footer .socials-footer a {
  margin-right: 1em;
}

footer .socials-footer a img {
  border-radius: 50%;
}

footer .socials-footer a img:hover {
  background-color: #0b0909;
  cursor: pointer;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media screen and (max-width: 769px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30em;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-logo {
    width: 50%;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #010101;
    display: block;
    margin: 1.5em;
    padding: 0.5em;
    font-size: 1.5em;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .navbar-extra a {
    color: #fff;
    margin: 0 5em;
    font-size: 5%;
  }

  .navbar .navbar-extra a:hover {
    color: var(--primary);
  }

  .navbar .navbar-btn {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 350%;
    right: -100%;
    margin-right: 2.5em;
    width: 25em;
    transition: 0.3s;
  }

  .navbar .navbar-btn.active {
    right: 0;
  }

  .navbar .navbar-btn button {
    color: #010101;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  header {
    display: none;
  }

  .promo {
    margin-top: 10vh;
  }

  .promo-header .btn-promo {
    padding: 0;
    justify-content: space-between;
    width: 20%;
    display: flex;
  }

  .promo-body .promo-coupon-1,
  .promo-body .promo-coupon-2 {
    width: 50%;
    display: flex;
    border-radius: 20px;
    padding: 0.5em 1em 0;
    background-color: #88b788;
    margin-right: 4em;
  }

  .product-filter,
  .promo-header .btn-promo,
  .product-card .menu-card .flash-sale,
  .promo-body .promo-coupon-3,
  .promo-body .promo-coupon-4,
  .product-card .menu-card .price .price-normal {
    display: none;
  }

  .product-menu {
    width: 100%;
  }

  .product-card .menu-card .menu-btn .btn-buy {
    margin-bottom: 0.5em;
    margin-right: 0;
    width: 100%;
  }

  .product-card .menu-card .menu-btn .btn-cart {
    width: 100%;
  }

  .product-menu .btn-page {
    padding: 0 5em;
  }
}

/* Mobile Phone */
@media screen and (max-width: 450px) {
  html {
    font-size: 55%;
  }

  footer .description-footer .desc {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  footer .product-footer {
    margin-right: 20%;
  }

  footer .product-footer,
  footer .engage-footer,
  footer .socials-footer {
    font-size: 1.2rem;
  }
}
