/* Normalisasi style */
:root {
  --primary: #ff8906;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  max-width: 2560px;
  /* border: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b0909;
  position: fixed;
  padding: 0.5% 10%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-nav {
  display: flex;
  align-items: center;
}

.navbar .navbar-nav .navbar-nav-logo {
  margin-right: 4em;
}

.navbar .navbar-nav .navbar-nav-detail a {
  margin-right: 4em;
  display: inline-block;
  color: #fff;
  font-size: 1rem;
}

.navbar .navbar-nav .navbar-nav-detail a::after {
  content: "";
  display: block;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav .navbar-nav-detail a:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-extra {
  display: flex;
}

.navbar .navbar-extra {
  justify-content: center;
  align-items: center;
}
.navbar .navbar-extra a {
  color: #fff;
  margin-right: 1.5em;
}

.navbar .navbar-extra a .feather {
  text-align: center;
  width: 1.5em;
  height: 1.5em;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

.navbar .navbar-extra .btn-signin {
  background-color: #0b0909;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  width: 6em;
  height: 3em;
  margin-right: 2em;
}

.navbar .navbar-extra .btn-signin:hover {
  background-color: #353030;
  cursor: pointer;
}

.navbar .navbar-extra .btn-signup {
  background-color: var(--primary);
  border-radius: 5px;
  color: #0b132a;
  font-size: 1rem;
  width: 6em;
  height: 3em;
}

.navbar .navbar-extra .btn-signup:hover {
  background-color: #e77d04;
  cursor: pointer;
}

#hamburger-menu {
  display: none;
}

/* Container */
.container {
  margin-top: 10%;
}

.body {
  padding: 0 10%;
}

/* Header */
header h1 {
  font-size: 2.5rem;
  margin-bottom: 1em;
}

/* Profile */
.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Profile Details */
.profile-details {
  border: 1px solid #e8e8e8;
  padding: 2em;
  height: 50%;
}

.profile-details p {
  display: flex;
  justify-content: center;
}

.profile-details .name {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.profile-details .email {
  margin-bottom: 1.2em;
}

.profile-details .profile-img {
  display: grid;
  place-items: center;
  margin-bottom: 1em;
}

.profile-details .profile-img img {
  display: grid;
  place-items: center;
  width: 50%;
}

.profile-details .btn-upload {
  background-color: var(--primary);
  border-radius: 5px;
  color: #0b132a;
  font-weight: 500;
  font-size: 16px;
  width: 14em;
  height: 3em;
  margin-bottom: 1em;
}

.profile-details .btn-upload:hover {
  background-color: #e77d04;
  cursor: pointer;
}

/* Profile Form */
.profile-form {
  width: 60%;
  border: 1px solid #e8e8e8;
  padding: 2em;
}

.profile-form .password {
  display: flex;
  justify-content: space-between;
}

.profile-form .password p {
  text-align: right;
  color: var(--primary);
}

.profile-form form label {
  color: #0b132a;
  font-weight: 600;
  font-size: 1.3rem;
}

.profile-form form div {
  position: relative;
  margin-top: 15px;
}

.profile-form form div input {
  width: 100%;
  height: 50px;
  border: 1px solid #dedede;
  border-radius: 10px;
  padding-top: 2px;
  padding-left: 60px;
  font-size: 1rem;
  color: #4f5665;
  margin-bottom: 20px;
}

.profile-form form div img {
  position: absolute;
  margin-top: 16px;
  margin-left: 20px;
}

.profile-form button {
  margin-top: 10px;
  color: #0b132a;
  font-weight: 500;
  font-size: 1.3rem;
  background-color: #ff8906;
  border-radius: 10px;
  width: 100%;
  height: 45px;
}

.profile-form button:hover {
  background-color: #e77d04;
  cursor: pointer;
}

/* Footer */
footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #f8f8f8;
  justify-content: space-between;
  padding: 1% 10%;
  margin-top: 3em;
}

footer .description-footer {
  padding: 2em 0;
}

footer .description-footer .desc {
  margin-bottom: 30px;
  color: #4f5665;
}

footer .description-footer .copyright {
  font-size: 0.8rem;
  color: #afb5c0;
}

footer div .footer-logo {
  margin-bottom: 1em;
}

footer .product-footer,
footer .engage-footer,
footer .socials-footer {
  padding: 1em 0;
}

footer .product-footer h2,
footer .engage-footer h2,
footer .socials-footer h2 {
  margin-bottom: 1.5em;
}

footer .product-footer a,
footer .engage-footer a {
  display: flex;
  margin-bottom: 15px;
  color: #4f5665;
}

footer .product-footer a:hover,
footer .engage-footer a:hover {
  color: #b2b2b4;
}

footer .socials-footer {
  height: 50%;
}

footer .socials-footer a {
  margin-right: 1em;
}

footer .socials-footer a img {
  border-radius: 50%;
}

footer .socials-footer a img:hover {
  background-color: #0b0909;
  cursor: pointer;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media screen and (max-width: 769px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav .navbar-nav-logo {
    margin-right: 0;
  }

  .navbar .navbar-nav .navbar-nav-detail {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30em;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav .navbar-nav-detail.active {
    right: 0;
  }

  .navbar .navbar-nav .navbar-nav-detail a {
    color: #010101;
    display: block;
    margin: 1.5em;
    padding: 0.5em;
    font-size: 1.5em;
  }

  .navbar .navbar-nav .navbar-nav-detail a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav .navbar-nav-detail a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .navbar-extra .navbar-extra-btn {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 400%;
    right: -100%;
    margin-right: 2.5em;
    width: 25em;
    transition: 0.3s;
  }

  .navbar .navbar-extra .navbar-extra-btn.active {
    right: 0;
  }

  #search,
  #shopping-cart {
    margin-right: 1.5em;
  }

  .navbar .navbar-extra a {
    margin-right: 0;
  }

  .profile {
    justify-content: center;
  }

  .profile-form {
    margin-top: 2em;
    width: 70%;
  }
}

/* Mobile Phone */
@media screen and (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .navbar {
    padding: 2% 10%;
  }

  #search {
    display: none;
  }

  .navbar .navbar-nav .navbar-nav-logo img {
    width: 50%;
    height: 50%;
  }

  .container {
    margin-top: 20%;
  }

  .profile-form {
    width: 100%;
  }

  footer .description-footer img {
    width: 50%;
    height: 25%;
  }

  footer .description-footer .desc {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  footer .product-footer {
    margin-right: 20%;
  }

  footer .socials-footer a img {
    width: 20%;
    height: 20%;
  }

  footer .product-footer,
  footer .engage-footer,
  footer .socials-footer {
    font-size: 1.2rem;
  }
}
